{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js1.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Profil | Riswanda</title>
</head>
<body>
{% if user.is_authenticated %}
  <nav class="navbar navbar-light bg-light">
    
    <span class="navbar-brand mb-0 h1">Halo, {{ user.username }}</span>
    <a class="navbar-brand" href="/logout/">Logout</a>
  </nav>

    {% else %}
    <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/login/">Login</a>
    <a class="navbar-brand" href="/register/">Register Account</a>
  </nav>
  
  {% endif %}
  <h1 style="text-align: center;color: white;padding-top: 30px;">WELCOME TO MY WEBSITE</h1>
  <div class="grid-container">
    <div style="margin-left: 30px;margin-right: 30px;position: static; display: block;">
      <div style="margin: auto;">
        <img src="{% static 'foto diri.jpg' %}" style="border-radius: 80px;width: 50%;margin-left: 25%;margin-right:60px;">
      </div>
      
      <h1>Mohammad Riswanda Alifarahman</h1>
      <p class="quote">“A programmer with management and leadership skills”</p>
    </div>

        <div id="accordion">
          <div class="content">
            <div class="header">
              <h3>Biodata</h3>
            </div>
            <div class="button">
            <button id="click_up1" >Up</button><button id="click_down1">Down</button> 
            </div>
            <div class="body">
              <h4>Name :</h4>
                    <p>Mohammad Riswanda Alifarahman</p>
                    <h4>Age :</h4>
                    <p>19 years old</p>
                    <h4>Currently Job :</h4>
                    <p>Student in University</p>
                    <h4>Last Education :</h4>
                    <p>Bachelor Degree of Computer Science
                        University of Indonesia</p>
            </div>
          </div>
          <div class='content'>
            <div class="header">
              <h3>About me</h3>
            </div>
            <div class="button">
              <button id="click_up2" >Up</button><button id="click_down2">Down</button>
            </div>
            <div class="body">
              <p>I am student in University of Indonesia majored in Computer Science. Beisde programming skill,
                I can manage and lead a team work efficienlty.</p>
            </div>
          </div>
          <div class='content'>
            <div class="header">
              <h3>Pendidikan</h3>
            </div>
            <div class="button">
              <button id="click_up3" >Up</button><button id="click_down3">Down</button>
            </div>
            <div class="body">
              <h4>University of Indonesia</h4>
                    <p>2019-now</p>
                    <h4>Bachelor Degree of Computer Science</h4>
                    <p>Studying some programming language like Python, Java, HTML and CSS. Also studying data stucture and website.</p>
            </div>
          </div>
          <div class='content'>
            <div class="header">
              <h3>Pengalaman</h3>
            </div>
            <div class="button">
              <button id="click_up4" >Up</button><button id="click_down4">Down</button>
            </div>
            <div class="body">
              <div class="col-lg-6">
                <h4>BEM Fasilkom</h4>
                <p>2019-now</p>
              </div>
              <div class="col-lg-6">
                <h4>Staff of Research and Stategic Action</h4>
                <p>Doing some research of social and politic in Indonesia especially data protection. 
                    I also learn about copy writting and making some infograpic writing.</p>
              </div>
            </div>
          </div>
        </div>
        <button><a href="{% url 'story8:book' %}">Book Catalog</a></button>
  </div>
</body>
</html>
