{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style2.css' %}" />
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="up">
        <button><a href="{% url 'home' %}">Back</a></button>
        <input id="cari" class="search" type="text" placeholder="Search.." name="">
    </div>
    
    <div id="daftar">

    </div>

    {% else %}
    <h1>Silahkan <a href="/login/">Login</a> atau <a href="/register/">Register</a> terlebih dahulu</h1>

    {% endif %}
</body>
</html>