
*{
	box-sizing: border-box;
}

body,html{
	/*background-image: url("/static/sky.402efb447e81.jpg");*/
	height: 100%;
	
  margin: 0;
  background-color: #b0b7dd;
  
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	
	background-size: contain;
	height: 100%;
}
.grid-container > div {
	background-color: rgba(255, 255, 255, 0.863);
	border-radius: 30px;
	width: 90%;
	margin: auto;
	padding : 50px;
}
#accordion{
	margin-right: 30px;
	display: block;
	
}

 .content{
	box-shadow: 0px 0px 20px #d4d4d4;
	margin-bottom:20px;
	float: left;
	width: 100%;
}
.content:hover{
	box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
	right: 5px;
	bottom: 3px;
}

h3{
	cursor: pointer;
	color:#ffffff;
	position: relative;
	background-color: #3a52d8;
	margin:0;
	padding:15px 20px;
}

.header {
	position: relative;
}

.body{
	padding:20px;
	background-color: white;
}
.body{
	display: none;
}

.button{
	background-color: #a5afe9;
	
}
button{
	background-color: #a5afe9;
	border: none;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

button:hover{
	background-color: #d7ddff;
}