body,html{
    background-color: #b0b7dd;
}

button{
    margin-top:30px;
    margin-left:50px;
    height:30px;
    width: 100px;
}
.up{
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
}
#cari{
    margin-top:30px;
    max-width: 200px;
    margin-left:20px;
}
#daftar{
    margin-top:50px;
    margin-left:50px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  
}
th{
    background-color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 500px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}